#home {
    height: 990px;
    width: 100vw;
}

.background {
    background: url('../assets/background-home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 790px;    
}